.back{display: flex;
    background-color: rgb(0, 208, 255);
    margin-bottom: 20px;
    
}



.back img{
    margin-right: 35px;
    width: 80%;
    padding-left: 20px;
    padding-right: 10PX;
    margin-top: 35px;
     

}

.back p{
    margin-left: 90px;
    width: 80%;
    padding-left: 20px;
    padding-right: 10px;
    border: 30px;
    

}
li{
    
    padding-top:5px;
    padding-bottom: 5px;
    margin-top: 10px;
margin-bottom: 10px;
margin-left:70px ;
}
/* NAVIGATION */
nav{
    display: flex;
    justify-content: space-between;
    /* align-items:center; */
    background-color: rgb(0, 208, 255);
    padding: 1rem;
    font-size: 10px;
    height: 40px;
    width: 100%;
    
    
}
a{
    text-decoration:none ;
}
.logo img{
    width:10%;
    margin-left: 45%;
    display: flex;
    align-items: center;
    padding-bottom: 30px 20px;
    padding-top: 20px 10px;
}
.logo{
    margin-top: 1px;
    margin-bottom: 1px;
}
.Team{
margin-right: 20px;
width: 65%;
padding-left: 20%;
}
.Team h2{
margin-left: 37%;
font-size: 30px;
}
.use{
margin-top: 0px;
}
.Facilities{
    margin-left: 40%;
}



footer{
    text-align: center;
    background-color: rgb(0, 200, 255);
    padding: 1;
}








    


    




