
*{
  padding: auto;
  width: 0 auto;
  border: auto;
  font-size: auto;
  font-family: sans-serif;
  box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: end;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(0, 208, 255);
    padding: 1rem;
     font-size: 10px;
     height: 40px;
     width: 100%;
    
    
}
.app img{
    width: 10%;
    border: 20px;
    border-radius: 30px;
justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 45%;
    border: 2em;
    

}



.plot{
    background-image: url(images/care-worker-serving-dinner-elderly-260nw-1768875746.webp);
    height:100vh;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;

   }
   
   
  
   a{
    text-decoration: none;
  
   }
  .welcome h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 51px;
    padding: 50px;
    color:rgb(0, 132, 255);
    
    

  } 
  .welcome p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    padding: auto;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.927);

  }
  .re h2{
    display: flex;
    justify-content: center;
    align-items: center;


  }
  input{
    padding-left: 50px;
    display: block;
    margin-top: 20px;
    width: 25%;
  text-align: left;
  height:30px;
  font-size: 15px;
  border-color:rgb(0, 217, 255);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.886);
  margin-left: 35%;
  
  
  
  


    
  }
  .re{
    padding: auto;
  }
  button{
    width: 20%;
    height: 10px;
    padding: 20px;
    margin-right: 400px;
  padding-top: 15px;
  margin-top: 15px;
  background-color: rgb(0, 162, 255);
  font-size: 15px;
  text-align: center;
  margin-left: 40%;

color: black;
margin-bottom: 5px;
cursor: pointer;


  

  }
  footer{
    width: 100%;
    background-color: rgb(0, 204, 255);
    padding: 1em;
  justify-content: center;
  align-items: center;

  
    
  }
  .for{
    margin-left: 30%;
    padding-bottom: 10px;
  

  }
.yy{
  margin-left: 36%;
  width: 29%;
  

}
.team{
  margin-left:40% ;
  padding-top: 5px;
  
}
a{
  margin-left:30% ;
  }
  
 @media screen {
  .main-one{ max-width: 100%;}
 }   
 @media screen {
  .main-two{ max-width: 100%;}
 } 
 @media screen {
  .main-three{ max-width: 100%;}
 } 
    
  
  
  



